
/*GENERAL*************************************************/

body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

a{
    text-decoration: none !important;
}

textarea:focus, input[radio]:focus{
    outline: 0 !important;
}

input::selection{
    outline: none!important;
}

.glyphicon-plus{
    font-size: 13px !important;
    padding-right: 5px;
}

.GreenColor{
    color: #7BA946;
}

.GreenBackground{
    background-color: #7BA946;
}

.BlueColor{
    color: #4274BC;
}

.BlueBackground{
    background-color: #4274BC;
}

.NoPadding{
    padding: 0!important;
}

.NoMargin{
    margin: 0!important;
}

/*******************************************************/

.Header{
    height: 80px;
    width: 100%;
    padding: 0 50px 0 50px;
}

.Header--transparent{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(34,34,34,0.2);
}

.Header-logo{
    margin: 15px 0 0 0;
}

.Header-nav{
    float: right;
    margin-top: 28px;
}

.Header-item{
    display: inline !important;
    padding-left: 20px;
    text-decoration: none;
}

.Header-itemLink{
    font-weight: 700;
    font-size: 16px;
    color: #ffffff !important;
    transition: color 0.3s ease;
}

.Header-itemLink:hover{
    color: #7BA946 !important;
    text-decoration: none;
}

.HomeBackground{
    max-width: 100%;
    display: block;
    height: auto;
}

.MessageSection--first{
    position: absolute;
    top: 200px;
    left: 60px;
}

.Message-Section{
    text-align: center;
}

.MessageSection-title{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    padding: 0 20px 10px 20px;
}

.MessageSection--titleFirst{
    padding: 0 !important;
}

.MessageSection-text{
    font-size: 16px;
    line-height: 22px;
    padding-top: 5px;
    text-align: center;
}

.MessageSection--textFirst{
    padding: 15px 0 0 0!important;
}

.HomeButton{
    padding: 4px 20px 6px 20px;
    border-radius: 5px;
    border: 2px solid;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.HomeButton--black{
    margin-top: 25px;
    border: 2px solid #333333;
    background: transparent;
    color: #333333;
    transition: background 0.3s ease;
}

.HomeButton--black:hover{
    background: #ffffff;
    border: 2px solid #ffffff;
    color: #4274BC;
}

.HomeButton--white{
    margin-top: 25px;
    border: 2px solid #ffffff;
    background: transparent;
    color: #ffffff;
    transition: background 0.3s ease;
}

.HomeButton--white:hover{
    background: #ffffff;
    color: #4274BC !important;
}

.HomeButton--blue{
    margin-top: 15px;
    border: 2px solid #4274BC;
    background: transparent;
    color: #4274BC;
    transition: background 0.3s ease;
}

.HomeButton--blue:hover{
    background: #4274BC;
    color: #ffffff;
}

.HomeButton--green{
    margin-top: 15px;
    border: 2px solid #7BA946;
    background: transparent;
    color: #7BA946;
    transition: background 0.3s ease;
}

.HomeButton--green:hover{
    background: #7BA946;
    color: #ffffff;
}

.HomeButton--bigger{
    padding: 6px 30px 8px 30px !important;
    margin-top: 15px;
}

.ArrowSeparator{
    text-align: center;
    margin-top: 25px;
}

.ArrowSeparator--largeMargins{
     margin: 150px 0 100px 0;
 }

.ArrowSeparator--steps{
    text-align: right;
    margin: 10px 40px 10px 100px;
}

.Steps{
    display: table;
    width: 100%;
}

.Steps-item{
    display: table-row;
}

.Steps-icon{
    width: 30%;
    height: 100%;
    display: table-cell;
    padding-right: 50px;
    text-align: right;
}

.Steps-iconFirst{
    padding-top: 60px;
}

.Steps-iconImg{
    margin: 25px 0 30px 0;
    display: block;
    float: right;
}

.Steps-iconArrow{
    float: right;
    display: block;
    text-align: right;
    padding-right: 15px;
}

.Steps-content{
    display: table-cell;
    width: 70%;
    height: 100%;
    padding: 0 100px 0 50px;
    vertical-align: top;
}

.Steps-contentFirst{
    padding-top: 30px;
}

.Steps-title{
    font-size: 26px;
    font-weight: 700;
}

.Steps-title--green{
    margin-top: 25px;
    font-size: 24px;
    font-weight: 700;
    color: #7BA946;
}

.Steps-text{
    font-size: 16px;
    margin-top: 10px;
}

.BottomLogo{
    text-align: center;
    padding: 150px 0 20px 0;
    display: block;
}

.MainContainer{
    margin: 30px 50px;
    padding: 0!important;
    display: block;
}

.MainTitle{
    font-size: 26px;
    font-weight: 700;
}

.MainTitle--green{
    color: #7BA946;
}

.MainTitle--blue{
    color: #4274BC;
}

.Subtitle{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 5px;
}

/*.Content{*/
    /*font-size: 16px;*/
/*}*/

.FormLabel{
    font-size: 16px;
    font-weight: 400;
}

.FormBox{
    border-radius: 2px;
}

.FormBox:focus{
    border-color: rgba(66, 116, 188, 0.5);
    outline: 0;
    -webkit-box-shadow: 0 0 8px rgba(66, 116, 188, 0.3);
    box-shadow: 0 0 8px rgba(66, 116, 188, 0.3);
}